{% extends 'common/master.html' %}


{% block body %}

{% load static %}
<section class="featured-job-area feature-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>Recent Job</span>
                    <h2>Featured Jobs</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!-- single-job-content -->
                 {% for i in job %}
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"><img src=" /{{i.company_logo}} " alt="" height="50px"></a>
                        </div>
                        <div class="job-tittle">
                            <a href=" {% url 'jobdetailsPage' i.id  %} "><h4>{{i.job_title}}</h4></a>
                            <ul>
                                <li>{{i.company_name}}</li>
                                <li><i class="fas fa-map-marker-alt"></i>{{i.job_location}}</li>
                                <li>{{i.job_salary}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">{{i.job_type}}</a>
                        <span>{{i.create_at}}</span>
                    </div>
                </div>

                    
                {% endfor %}
                    
              
            </div>
        </div>
    </div>
</section>
    
{% endblock body %}


    