<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
           
             <li class="submenu">
                <a href="#"><i class="fas fa-user-graduate"></i> <span>Job</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href=" {% url 'addJobPage' %} ">Add Job</a></li>
                   <li><a href=" {% url 'viewJobList' %} ">View Job</a></li>
                </ul>
             </li>
             
          </ul>
       </div>
    </div>
 </div>